#login {
   position: absolute;
   margin-top: 55%;
   left: 38%;
}

#logout {
    position: absolute;
    right: 1%;
    top: 0.5%;
}

.posts {
    width: 100%;
    padding: 5%;
    margin-top: 120%;
}

.posts__post {
    margin-bottom: 3%;
}

.posts__post,
.posts__post__title {
    width: 100%;
}

.posts__post__title {
    overflow: scroll;
    padding: 1%;
    margin-bottom: 0.5%;
}

.posts__post__date {
    padding: 1%;
    width: 100%;
}

.title {
    position: absolute;
    top: 30%;
}

.notif {
    justify-content: center;
    position: absolute;
    top: 5%;
    left: 20%;
    width: 60%;
}

.footer h4 {
    margin-top: 2%;
}

@media (min-width: 768px) {
    .posts {
      margin-top: 15%;
    }

    .notif {
        width: 30%;
        left: 35%;
    }

    #login {
        position: absolute;
        margin-top: 15%;
        left: 47%;
     }

     #logout {
        position: absolute;
        right: 1%;
        top: 2%;
    }
}